{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'welcome/style.css' %}>
    <title>Welcome</title>
    
</head>
<body> 
    
    <div class = "welcome">
        <h2>Welcome</h2>
        <p>جهت استفاده از امکانات سایت روی یکی از دکمه های زیر کلیک کنید</p>
        <form action = "/swbooks" class = 'f1'>
            <input type = "submit" value = "  دیدن همه ی عرضه وتقاضاها">
        </form>

        <form action = "/add_book" class = 'f2'>
            <input type = "submit" value = "ایجاد یک درخواست جدید">
        </form>
    </div>
</body>
</html>